code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
	font-family: sans-serif;
	background-color: #18191A;
}

input{
	border-radius: 4px;
}

.submit{
	background: #99CCFF;
	color: #ffe6d9;
}

#POEHelper{
	background: lightgray;
	border-radius: 4px;
	border-style: solid;
}

#CharComp{
	margin: auto;
	width: 50%;
	width: 600px;
	height: 570px;
	background: lightgray url("./images/MainInventoryNoBags.png") no-repeat;
	border-radius: 4px;
	border-style: solid;
	position: relative;
}

.Weapon {
	position: absolute;
    left: 65.85px;
    top: 111.21px;
    width: 94.929px;
    height: 189.858px;
}

.Offhand{
	position: absolute;
    left: 438.27px;
    top: 111.21px;	
    width: 94.929px;
    height: 189.858px;
}

.Helm{
	position: absolute;
    left: 252.06px;
    top: 99.65px;
    width: 94.929px;
    height: 94.929px;
}

.BodyArmour{
	position: absolute;
    left: 252.06px;
    top: 206.14px;
    width: 94.929px;
    height: 142.3935px;
}

.Amulet{
	position: absolute;
    left: 368.89px;
    top: 194.58px;
    width: 47.4645px;
    height: 47.4645px;
}

.Ring{
	position: absolute;
    left: 182.69px;
    top: 253.6px;
    width: 47.4645px;
    height: 47.4645px;
}

.Ring2{
	position: absolute;
    left: 368.89px;
    top: 253.6px;
    width: 47.4645px;
    height: 47.4645px;
}

.Gloves{
	position: absolute;
    left: 135.22px;
    top: 312.63px;
    width: 94.929px;
    height: 94.929px;
}

.Belt{
	position: absolute;
    left: 252.06px;
    top: 360.09px;
    width: 94.929px;
    height: 47.4645px;
}

.Boots{
	position: absolute;
    left: 368.89px;
    top: 312.63px;
    width: 94.929px;
    height: 94.929px;
}

.Flask0{
	position: absolute;
    left: 186.34px;
    top: 418.51px;	
    width: 47.4645px;
    height: 94.929px;
}

.Flask1{
	position: absolute;
    left: 233.805px;
    top: 418.51px;
    width: 47.4645px;
    height: 94.929px;
}

.Flask2{
	position: absolute;
    left: 281.269px;
    top: 418.51px;
    width: 47.4645px;
    height: 94.929px;
}

.Flask3{
	position: absolute;
    left: 328.734px;
    top: 418.51px;
    width: 47.4645px;
    height: 94.929px;
}

.Flask4{
	position: absolute;
    left: 376.198px;
    top: 418.51px;
    width: 47.4645px;
    height: 94.929px;
}

.react-list-select {
	display: inline-block;
	position: relative;
	outline: none;
}

.react-list-select--item {
	padding: 0.3em 0.6em;
	cursor: pointer;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.react-list-select--item.is-selected {
	-webkit-user-select: inherit;
	-moz-user-select: inherit;
	-ms-user-select: inherit;
	-o-user-select: inherit;
	user-select: inherit;
}

.react-list-select--item.is-disabled {
	cursor: default;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

body {
	padding: 3em;
}

.demo > div {
	display: inline-block;
	vertical-align: top;
	margin-right: 1.5em;
}

/* Add some style to the list */

.react-list-select {
	background: #fafafa;
	border: 1px solid #cacaca;
	margin-right: 0.5em;
}
.react-list-select--item.is-selected {
	background: #d7e7ff;
}
.react-list-select:focus .react-list-select--item.is-focused::before,
.react-list-select:focus .react-list-select--item.is-focused::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 2px;
	background: #79b9ff;
}
.react-list-select:focus .react-list-select--item.is-focused::before {
	left: 0;
}
.react-list-select:focus .react-list-select--item.is-focused::after {
	right: 0;
}
.react-list-select--item.is-disabled {
	color: #afafaf;
}

.context-menu .react-list-select {
	padding: 0.3em 0;
}
.context-menu .react-list-select--item {
	font-size: 0.8125em;
}

/* Component in list - last example */

.contact {
	padding: 0.5em;
}
.contact .email {
	font-size: 0.675em;
	color: #999;
}
